#main-sobre--container {
    position: relative;
    width: 100%;
    background: linear-gradient(to left, white 15%, #bb00ffdb 70%);
}

#main-sobre--container div p{
    max-width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: cursive;
    border: 4px double purple;
    padding: 1rem;
    color: #4400d9;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
    background-color: aqua;
    text-align: justify;
}

#main-sobre--container div ul {
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    font-family: cursive;
    color: #13003e;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
}