/*.wrapper-skills {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 80%;
}

.skill-tec {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    max-width: 30%;
}

.icon {
    max-width: 6rem;
    max-height: 6rem;

} */


.wrapper-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    max-width: 6rem;
    max-height: 6rem;
}

.skill-tec {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1rem;
}

.right {
    margin-left: 1rem;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
    text-shadow: .1rem .1rem 0.08rem black;
    color: #ae22b3;
}