#main-sobre--container {
    width: 100%;
}

#main-sobre--container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-sobre--container div p{
    max-width: max-content;
    margin: 0 2rem;
    font-size: 1rem;
    font-family: cursive;
    border: 4px double white;
    padding: 1rem;
    color: var(--main-color);
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
    background-color: black;
    text-align: justify;
}

#main-sobre--container div ul {
    max-width: max-content;
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
    font-family: cursive;
    color: white;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
    list-style-position: inside;
    margin: 0 1rem;
    padding: 1rem;
}


@media (max-width: 700px)
{
    .main-title {
        margin-top: 4rem;
    }

    #main-sobre--container div {
        justify-content: flex-start;
    }

    #main-sobre--container div p{
        max-width: max-content;
        font-size: .8rem;
        margin: 0 1rem;
    }

    #main-sobre--container div ul {
        max-width: max-content;
        font-size: .8rem;
        margin: 1rem;
        padding: 0;
    }
    
}

@media (max-width: 400px)
{
    #main-sobre--container div p{
        max-width: max-content;
        font-size: .7rem;
        margin: 1rem;
    }

    #main-sobre--container div ul {
        font-size: .7rem;
        margin: 0 1rem 1rem 1rem;
    }

    #main-sobre--container div {
        justify-content: flex-start;
    }
}