#main-projects--container {
    width: 100%;
}

.projects-single {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 98%;
    margin: 0 auto;
    padding: .5rem;
}

.projects-logo {
    flex-grow: 1fr;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    border: 4px double black;
}

.projects-right {
    flex-grow: 1fr;
    border: 4px double black;
    border-radius: 10px;
    background: linear-gradient(to right, #fff 2%, rgb(209 35 35 / 72%) 75%);
}

.projects-title--container {
    background-color: #b54141;
    border: 4px double #2f0000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}

.projects-title--container > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-title--container > span {
    font-weight: bold;
    color: #ffd700;
    text-shadow: 1px 1px black;
}

.projects-title {
    padding: 1rem 1rem .2rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'press start 2p';
    text-align: center;
    color: #040404;
    text-shadow: .5px .5px white;
    margin: 0 auto;
    
}

.projects-title--container div a {
    color: black;
    padding: .2rem;
    font-size: 1.5rem;
}

.projects-title--container p {
    font-family: cursive;
    text-align: center;
    font-size: .7rem;
    color: white;
    text-decoration: underline;
    padding: 0 0 .2rem 0;
}

.projects-title--container span {
    font-size: .7rem;
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.projects-subtitle {
    font-family: 'press start 2p';
    color: #c81515;
    font-size: .8rem;
    text-shadow: 1px 1px black;
    padding: 1rem 1rem 1rem 0;
}

.projects-description--container {
    margin: 0 1rem 0 1rem;
    font-family: cursive;
    color: black;
    font-weight: bold;
    list-style-type: none;
}

.projects-description--container ul {
    list-style-type: square;
    list-style-position: inside;
}

.projects-description--container ul li::marker{
    color: #a80000;
}

.projects-description--container ul li{
    margin-bottom: .2rem;
}

.projects-subdescription--container {
    margin: 0 1rem 1rem 1rem;
}

.projects-subdescription--container p {
    font-size: .8rem;
    font-weight: bold;
    text-align: justify;
    max-width: 50%;
}

@media (max-width: 700px)
{
    .projects-title {
        font-size: .8rem;     
    }
    .projects-title--container div a {
        font-size: 1.3rem;
    }
    .projects-title--container p {
        font-size: .6rem;
    }
    
    .projects-subtitle {
        font-size: .7rem;
    }
    
    .projects-description--container {
        font-size: .6rem;
    }

    .projects-subdescription--container p {
        font-size: .7rem;
        max-width: 90%;
    }
    
}

@media (max-width: 400px)
{
    .projects-title {
        font-size: .7rem;     
    }
    .projects-title--container div a {
        font-size: 1rem;
    }
    .projects-title--container p {
        font-size: .5rem;
    }
    
    .projects-subtitle {
        font-size: .6rem;
    }
    
    .projects-description--container {
        font-size: .5rem;
    }

    .projects-subdescription--container p {
        font-size: .6rem;
        max-width: 95%;
    }
}