

/* Header Ãrea */
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, white 30%, #b5b5b5 70%);
}

/* navbar */

header nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, white 30%, #b5b5b5 70%);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

header nav ul li {
    list-style: none;
    color: #143d59;
    font-size: .8rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    transition: all ease-in .3s;
}

header nav ul li:hover {
    transform: scale(1.05);
}

header nav ul li a {
    text-decoration: none;
    border: 4px double #143d59;
    border-radius: 10%;
    padding: .5rem;
    box-shadow: .1rem .1rem .2rem black;
    /* background-color: #f4b41a; */
    transition: all ease-in .3s;
}

header nav ul li a:hover {

    box-shadow: .6rem .1rem .2rem black;
    background: linear-gradient(to right, transparent 80%, #e2e2e2d2 20%);
    transform: rotateZ(180deg);
}

header nav ul li:nth-child(1n+5)>a:hover {
    background: linear-gradient(to right, transparent 70%, #bebebebd 30%);
}

header nav ul li:nth-child(1n+6)>a:hover {
    background: linear-gradient(to right, transparent 40%, #7e7e7ec4 60%);
}

header nav ul li:nth-child(1n+7)>a:hover {
    background: linear-gradient(to right, transparent 20%, #6d6d6d7c 80%);
}

header nav ul li:nth-child(1n+8)>a:hover {
    background: linear-gradient(to right, transparent 10%, #57575791 90%);
}

.main-header--container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.main-header--left {

}

.main-header--right {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

/* main area */


section {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}
