

/* Header Ãrea */
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, white 15%, #6a6767 85%);
    border: 8px double black;
}

/* navbar */

header nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    /* background: linear-gradient(to right, white 15%, #6a6767 85%); */
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 1rem;
}

header nav ul li {
    list-style: none;
    color: #0877c4;
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
    transition: all ease-in .3s;
}

header nav ul li:nth-child(8) {
    margin-right: 16px;
}

header nav ul li:hover {
    transform: scale(1.05);
}

header nav ul li a {
    text-decoration: none;
    list-style: none;
    border: 4px double black;
    border-radius: 10%;
    padding: .5rem;
    box-shadow: .1rem .1rem .2rem black;
    /* background-color: #f4b41a; */
    background-color: white;
    transition: all ease-in .3s;
    text-shadow: 0.15rem .09rem 0.009rem black;
    background: linear-gradient(to right, #eb00ffb3 15%, #21b3faed 70%);
}

header nav ul li a:hover {
    box-shadow: .6rem .1rem .2rem black;
    background: linear-gradient(to right, transparent 80%, #e2e2e2d2 20%);
    transform: rotateZ(180deg);
}

header nav ul li a:visited {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

header nav ul li:nth-child(1n+5)>a:hover {
    background: linear-gradient(to right, transparent 70%, #bebebebd 30%);
}

header nav ul li:nth-child(1n+6)>a:hover {
    background: linear-gradient(to right, transparent 40%, #7e7e7ec4 60%);
}

header nav ul li:nth-child(1n+7)>a:hover {
    background: linear-gradient(to right, transparent 20%, #6d6d6d7c 80%);
}

header nav ul li:nth-child(1n+8)>a:hover {
    background: linear-gradient(to right, transparent 10%, #57575791 90%);
}

.main-header--container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.main-header--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header--left > div > h1 {
    color: #0877c4;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-shadow: .18rem .18rem .2rem black;
}


.main-header--right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* main area */

section {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -4rem;
    border: 8px double black;
}

#main-sobre--container {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, white 15%, #bb00ffdb 70%);
}

/* Sobre area */

.main-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: #00e7ff;
    text-shadow: .15rem .2rem 0.009rem black;
    margin: 1rem;
}

#main-sobre--container div p{
    max-width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: cursive;
    border: 4px double purple;
    padding: 1rem;
    color: #4400d9;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
    background-color: aqua;
    text-align: justify;
}

#main-sobre--container div ul {
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    font-family: cursive;
    color: #5000ff;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
}


