


/* Commom Area */

.d-none {
    display: none;
}

.main-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 10px rgb(62, 62, 62);
    margin: 1rem auto;
    background-color: #000000;
    border-radius: 5px;
    padding: .5rem 1rem;
    border: 4px double var(--main-color);
    width: max-content;
    color: rgb(19, 252, 19);
}

/* Header Área */
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #444 15%, #131313 85%);
    border: 8px double var(--main-color);
}

section {
    width: 100vw;
    position: relative;
    border: 8px double var(--main-color);
}

section:nth-child(even){
    background: linear-gradient(to right, #444 15%, #131313 85%);
}

section:nth-child(odd){
    background: linear-gradient(to left, #444 15%, #131313 85%);
}

@media (max-width: 700px)
{
    .main-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px)
{
    .main-title {
        font-size: 1rem;
    }
}