


/* Commom Area */

.d-none {
    display: none;
}

.main-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    text-shadow: .15rem .2rem 0.09rem black;
    margin: 1rem auto;
    background-color: #9700ff;
    border-radius: 5px;
    padding: .5rem 1rem;
    border: 4px double black;
    width: 50%;
    color: white;
}


/* Header Área */
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, white 15%, #6a6767 85%);
    border: 8px double black;
}

section {
    width: 100vw;
    position: relative;
    top: -4rem;
    border: 8px double black;
}

/* Skills area */

#main-skills--container {
    background: linear-gradient(to right, white 15%, aqua 70%);
}

#main-skills--container div ul {
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem 1.4rem;
    font-size: 1rem;
    font-family: cursive;
    color: #5000ff;
    text-shadow: 0.05rem 0.05rem 0.00009rem black;
}

/* Projects area */

#main-projects--container {
    background: linear-gradient(to left, white 15%, rgba(255, 0, 0, 0.82) 75%);
}
